main {
  width: 100vh;
  padding: 0px;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: stretch;
  align-items: flex-start;
  .main-centro {
      min-height: 100%;
      height: 100%;
  }
}

.textaco-pokemaniaco {
  width: 600px;
  height: 100px;
}

.pokedex {
  width: 30%;
  position: absolute;
}
